* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.bg-light {
    background-color: rgb(242, 246, 252) !important;
}

.bg-white {
    background-color: #fff;
}

.gx-5 {
    --bs-gutter-x: 2.5rem !important;
}

.p-6 {
    padding: 2.5rem !important;
}

.px-3 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}


.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-10 {
    padding-top: 6rem !important;
}

.pb-10 {
    padding-bottom: 6rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.navbar-modify {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1.75rem;
}

.buy-btn {
    width: 120px;
    margin-right: 5px;
    padding: 6px 0px 6px 0px;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item:last-child {
    margin-right: 0;
}

.btn-teal {
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
}

.btn-teal:hover {
    color: #fff !important;
    background-color: #009e7e !important;
    border-color: #009576;
}


/* ==========header========== */

.header {
    height: 85vh;
    background-image: url("../image/p-7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

.header-content {
    width: 100%;
    /* height: 55vh; */
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-content-htext {
    font-family: 'MetropolisNF', sans-serif;
    letter-spacing: 0.02em;
    font-size: 2.6rem;
    font-weight: 400;
}

.header-content-ptext {
    font-family: 'MetropolisNF', sans-serif;
    letter-spacing: 0.02em;
    font-size: 1.15rem;
    /* font-weight: 500; */
    color: rgba(255, 255, 255, 0.5) !important;
    width: 66.66666667%;
}


/* ========SearchBar======== */

.search {
    width: 55%;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center !important;
}

.searchTerm {
    background-color: #eef2f8 !important;
    border-color: #eef2f8;
    display: block;
    width: 72%;
    height: 44px;
    padding: 0.875rem 1.125rem;
    font-family: 'MetropolisNF', sans-serif !important;
    font-size: 0.875rem !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #69707a !important;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -moz-appearance: none;
    appearance: none !important;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.searchTerm:focus {
    color: #69707a !important;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 97 242 / 25%);
}

.search::placeholder {
    color: #69707a !important;
}

.search-btn {
    width: 85px;
}


/*====== Content Section 1 ======*/

.text-xs {
    font-size: 0.75rem !important;
}

.text-uppercase-expanded {
    color: #0d6efd;
    font-family: 'monospace', sans-serif;
    font-weight: bolder !important;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

.lead {
    font-family: 'monospace', sans-serif;
    color: #69707a;
    font-size: 1.1rem;
    font-weight: 400;
}


/* card */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card.lift {
    text-decoration: none;
    color: inherit;
}

.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%);
}

.card-img-top {
    width: 100%;
    /* border-top-left-radius: 0.35rem; */
    /* border-top-right-radius: 0.35rem; */
}

.card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
}


/*========= latest news =========*/

.latest-news {
    margin-top: -5.7rem !important;
}

.latest-news h4 {
    font-size: 1.2rem !important;
    color: #363d47;
}

.latest-news p,
.latest-news-small-text {
    color: #a7aeb8 !important;
    font-family: 'MetropolisNF', sans-serif;
}

.latest-news-email::placeholder {
    color: #a7aeb8;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.07rem !important;
}

.latest-news-email {
    background-color: #eef2f8 !important;
    font-size: 14px;
    font-family: 'MetropolisNF', sans-serif;
    padding: 15px 15px 15px 20px;

}

.latest-news-space {
    height: 62px;
    background-color: #F2F6FC;
}

.text-yellow i {
    color: #F4A100;
}

.card-small-text {
    color: #74737F !important;
    font-size: 0.875em;
    font-family: 'MetropolisNF', sans-serif;
}

.card-footer {    
    padding: 1rem 1.35rem;
    background-color: rgba(33, 40, 50, 0.03);
    border-top: 1px solid rgba(33, 40, 50, 0.125);
}

.card-footer i{
    color: #69707A;
    display: inline-block;
}


/*=========== Footer ===========*/

.bg-dark{
    background-color: rgb(33, 40, 50);
}

.footer {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
}

.footer .footer-brand {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    font-family: 'monospace', sans-serif;
}

.icon-list-social {
    display: flex;
}

.icon-list-social-link {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.text-uppercase {
    /* font-family: 'monospace', sans-serif; */
    font-family: 'MetropolisNF', sans-serif;
    font-weight: bolder !important;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}


/*========= Media Query ========= */

@media screen and (max-width: 425px) {
    .header-content-ptext {
        width: 100%;
        word-break: break-all;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex !important;
        margin: 0 auto;
        flex-direction: column;
    }

    .searchTerm {
        width: 100%;
        margin-bottom: 15px;
    }

    .search-btn {
        width: 85px;
        margin: 0 auto !important;
    }
}