* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* ========== Common CSS ========== */

.bg-light {
    background-color: rgb(242, 246, 252) !important;
}

.bg-white {
    background-color: #fff;
}

.gx-5 {
    --bs-gutter-x: 2.5rem !important;
}

.p-6 {
    padding: 2.5rem !important;
}

.px-3 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
}


.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.pt-10 {
    padding-top: 6rem !important;
}

.pb-10 {
    padding-bottom: 6rem !important;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.85rem;
}

.justify-content-center {
    justify-content: center !important;
}

/* ========== Navbar ========== */

.nav-logo {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-ul {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 500;
}

.navbar-modify {
    padding-top: 1.65rem;
    padding-bottom: 1.65rem;
    z-index: 1;
}

.navbar-arrow {
    font-size: 10px;
}

.dropdown-toggle1::after {
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    margin: 0 0 0.3em 0.1em;
    border-width: 0 0.08em 0.08em 0;
}

.show {
    transform: translateY(0rem);
}

.arrow {
    transform: rotate(90deg);
    transition: 0.2s ease;
}

.buy-btn {
    width: 121px;
    margin-right: 5px;
    padding: 8px 0px 4px 0px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    font-weight: 600;
}

.buy-btn svg {
    height: 16px;
    width: 16px;
    margin: -2px 0 0 5px;
    transform: scale(.85);
}

.nav-item {
    margin-right: 1rem;
}

.nav-item:last-child {
    margin-right: 0px;
}

.btn-teal {
    color: #fff;
    background-color: #00ba94;
    border-color: #00ba94;
}

.btn-teal:hover {
    color: #fff !important;
    background-color: #009e7e !important;
    border-color: #009576;
}

.btn-teal:active {
    color: #fff !important;
    background-color: #009576 !important;
    border-color: #008c6f !important;
}

.btn-teal:focus {
    color: #fff;
    background-color: #009e7e;
    border-color: #009576;
    box-shadow: 0 0 0 0.25rem rgb(38 196 164 / 50%);
}

/* ========== Banner Section ========== */

.banner {
    height: 85vh;
    background-image: url("../image/p-7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

.banner-content {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner-content-htext {
    font-family: 'Metropolis';
    font-size: 2.5rem;
    font-weight: 500;
}

.banner-content-ptext {
    font-family: 'Metropolis', sans-serif;
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.7) !important;
    width: 66.66666667%;
}


/*-------- SearchBar --------*/

.search {
    width: 55%;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center !important;
}

.searchTerm {
    background-color: #eef2f8 !important;
    border-color: #eef2f8;
    display: block;
    width: 72%;
    height: 44px;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem !important;
    font-weight: 400;
    line-height: 1 !important;
    color: #69707a !important;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -moz-appearance: none;
    appearance: none !important;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.searchTerm::placeholder {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji !important;
    color: #69707aa3 !important;
}

.searchTerm:focus {
    color: #69707a !important;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 97 242 / 25%);
}

.search-btn {
    width: 85px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    font-weight: 500;
    line-height: 1rem;
}


/*====== business_section  ======*/

.text-xs {
    font-size: 0.75rem !important;
}

.text-uppercase-expanded {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    color: rgb(10 97 225) !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12.5px !important;
}

.lead {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    color: #69707a;
    font-size: 1.1rem;
    font-weight: 400;
}


/*------- card -------*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card.lift {
    text-decoration: none;
    color: inherit;
}

.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgb(33 40 50 / 25%);
}

.card-img-top {
    width: 100%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


/*========= latest news =========*/

.latest-news {
    margin-top: -5.7rem !important;
}

.latest-news h4 {
    font-size: 1.2rem !important;
    color: #363d47;
}

.latest-news p,
.latest-news-small-text {
    color: #a7aeb8 !important;
    font-family: 'Metropolis', sans-serif;
}

.latest-news-email {
    background-color: #eef2f8 !important;
    font-size: 14px;
}

.latest-news-email::placeholder {
    color: #a7aeb8;
    font-size: 14.5px;
    font-weight: 400;
}

.latest-news-small-text {
    font-size: 14px;
    font-weight: 500;
}

.latest-news-space {
    height: 62px;
    background-color: #F2F6FC;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    border: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#button-addon2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
}

#button-addon2:focus {
    color: #fff;
    background-color: #0052ce;
    border-color: #004ec2;
    box-shadow: 0 0 0 0.25rem rgb(38 121 244 / 50%);
}

.text-yellow i {
    color: #F4A100;
}

.card-small-text {
    color: #74737F !important;
    font-size: 0.875em;
    font-family: 'Metropolis', sans-serif;
}

.card-footer {
    padding: 1rem 1.35rem;
    background-color: rgba(33, 40, 50, 0.03);
    border-top: 1px solid rgba(33, 40, 50, 0.125);
}

.card-footer i {
    color: #69707A;
    display: inline-block;
}

/*=========== Footer ===========*/

.bg-dark {
    background-color: rgb(33, 40, 50);
}

.footer {
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color emoji;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.footer .footer-brand {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.icon-list-social {
    display: flex;
}

.icon-list-social-link {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Metropolis', sans-serif;
}

.text-uppercase {
    font-family: 'Metropolis', sans-serif;
    font-weight: bolder !important;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}


/*========= Media Query ========= */

@media screen and (min-width: 992px) {
    .business-section {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .banner{
        height: 85vh;
        padding-bottom: 0px !important;
    }

    /* .banner-content {
        margin-top: -8%;
    } */

    .banner-content-ptext {
        width: 100%;
        font-size: 16px;
        word-break: break-all;
    }

    .banner-content-htext {
        font-size: 34px;
    }

    .search {
        width: 100%;
        position: relative;
        display: flex !important;
        margin: 0 auto;
        flex-direction: column;
    }

    .searchTerm {
        width: 100%;
        margin-bottom: 25px;
    }

    .search-btn {
        width: 85px;
        margin: 0 auto !important;
    }
}

@media screen and (max-width: 375px) {
    .banner-content-htext {
        font-size: 28px;
    }
}

@media screen and (max-width: 320px) {
    .banner-content-htext {
        font-size: 26px;
    }
}